.square{
  background-color: gainsboro;
  height: 100%;
  margin: 0;
  display: inline-block;
}

.row{
  margin: 0;
}

.container{
  height: 800px;
  width: 800px;
  margin: 24px auto;
}

#set-btn{
    width: 120px;
    height: 48px;
    margin: 12px auto;
    font-size: 16px;
    display: block;
}
