body{
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

.square{
  height: 100%;
  margin: 0;
  display: inline-block;
  opacity: 0;
  background-color: black;
}

.row{
  margin: 0;
}

.container{
  height: 720px;
  width: 720px;
  margin: 12px auto;
  border: 1px solid black;
}

.btn-container{
  width: 192px;
  margin: 12px auto;
}

.color-select{
  float: right;
}

#set-btn{
    width: 120px;
    height: 36px;
    font-size: 18px;
    display: inline-block;
}
