.square{
  background-color: gainsboro;
  height: 100%;
  width: 12px;
  /*margin-left: 1px;
  margin-right: 1px;*/
  display: inline-block;
}

.row{
  height: 12px;
  /*margin-top: 1px;
  margin-bottom: 1px;*/
}

.container{
  margin: auto;
}
